#graph-tooltip {
    position: absolute;
    background: white;
    box-shadow: 0 3px 14px rgb(0 0 0 / 20%);
    color: #455a64;
    border-radius: 3px;
    padding: 15px;
}

#graph-tooltip * {
    color: #455a64;
}

#graph-tooltip .btn-more {
    border-color: #D2D2D2 !important;
    margin-top: 5px;
    margin-bottom: 7px !important;
    text-align: center;
    color: #455a64 !important;
    font-weight: 500;
    border-radius: 10px 10px 10px 10px !important;
    width: 100%;
}

#graph-tooltip .bulle-arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
}

#graph-tooltip .bulle-arrow::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    box-shadow: 0 3px 14px rgb(0 0 0 / 20%);
}

.svg-blur,
.svg-blur * {
    filter: grayscale(100%) opacity(40%);
}
#loader-graph{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.fullscreen{
    height: 100vh!important;
    width: 100vw!important;
}
button.button-delete-badge-parcours:hover{
    display: inline!important;
}

.graph-panel svg{
    z-index: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group-item i.icon{
    padding-right: 7px;
}
.list-group-item > img{
    max-height: 30px;
    width: 70px;
    height:auto;
    margin-right: 10px;
}

.graph-panel.mode-list div.navigation, 
.graph-panel.mode-list svg#graph{
    z-index: -1000!important;
    position: absolute;
    top: 0;
    left: 0;
}

.button-switcher-mode:hover {
    background-color: #d1d1d1;
}
.button-switcher-mode {
    border-radius: 4px;
    fill: #455a64;
}
.button-switcher-mode.active{
    background-color: #455a64;
    color:white;
}
.button-switcher-mode.active svg {
    fill: white;
}
.force-hide{
    display: none!important;
}

@media(max-width:767px){
    /* .graph-panel div.list-group.list-group-root.well .list-group-item,
    .graph-panel div.list-group.list-group-root.well .list-group.collapse.in
    {
        display: block!important;
    } */
    .force-hide{
        display: unset;
    }
    .graph-panel div.navigation, 
    .graph-panel div.group-button-switcher
    {
        z-index: -1000!important;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-section{
        display:none;
    }
}

/* Small devices (phones) */
@media (max-width: 599px) { 
    .graph-panel div.navigation,
    .graph-panel div.group-button-switcher{
        z-index: -1000!important;
    }
 }

 .mobile-section{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index: 999;
    overflow-y:scroll;
    background: #f5f5f5;
  }

  .magnifier-glass {
    position: absolute;
    border: 3px solid #ccc;
    border-radius: 50%;
    /*cursor: none;*/
    width: 200px;
    height: 200px;
  }