body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1.page_title {
    color: #fff;
}

h4.what_to_do {
    color: #fff;
}

h2.menu-title {
    color: #9fbd38;
}

.page_title,
.what_to_do {
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}


/* PEN STYLES ========== */

a,
.side_menu {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


/* MENU CONTAINER ----- */

.side_menu {
    box-shadow: -2px 4px 10px 0px rgb(0 0 0 / 50%);
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    z-index: 10;
}

.side_menu .container {
    padding: 0 1em;
}


/* HAMBURGER STYLES ----- */

.burger_box {
    display: block;
    float: left;
    margin-left: -45px;
}

.burger_box a.menu-icon {
    display: inline-block;
    float: none;
    height: 43px;
    padding: 10px;
    opacity: .5;
    width: 45px;
    z-index: 100;
}

.burger_box a.menu-icon:hover,
.burger_box a.menu-icon.opened {
    opacity: 1;
}

.burger_box a.menu-icon.opened {
    background: #9fbd38;
}

.burger_box .menu-icon_box {
    display: inline-block;
    height: 25px;
    position: relative;
    text-align: left;
    width: 25px;
}

.burger_box .menu-icon_line {
    background: #455a64;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: absolute;
    width: 100%;
}

.burger_box .menu-icon_line--1 {
    top: 2px;
}

.burger_box .menu-icon_line--2 {
    top: 10px;
}

.burger_box .menu-icon_line--3 {
    top: 18px;
}

.burger_box .menu-icon_line--1 {
    transition: top 200ms 250ms, transform 200ms;
    -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
}

.burger_box .menu-icon_line--2 {
    transition: opacity 0ms 300ms;
    -webkit-transition: opacity 0ms 300ms;
}

.burger_box .menu-icon_line--3 {
    transition: top 100ms 300ms, transform 200ms;
    -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
}

.burger_box .menu-icon.opened .menu-icon_box {
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
}

.burger_box .menu-icon.opened .menu-icon_line {
    top: 10px;
    background-color: #fff;
}

.burger_box .menu-icon.opened .menu-icon_line--1 {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transition: top 100ms, transform 200ms 250ms;
    -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
}

.burger_box .menu-icon.opened .menu-icon_line--2 {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.burger_box .menu-icon.opened .menu-icon_line--3 {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transition: top 200ms, transform 200ms 250ms;
    -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
}


/* STAGGER LIST ----- */

.list_load {
    display: none;
    list-style: none;
    padding: 0;
}

.list_item {
    margin-left: -20px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.list_item a {
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.list_item a:hover {
    background: rgba(255, 255, 255, .2);
}

#accordion {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

#accordion::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#accordion::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#accordion::-webkit-scrollbar-thumb {
    background-color: #455a64;
}

.panel-heading {
    position: sticky;
    top: -10px;
    z-index: 100;
}

#graph-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#graph-container>svg#graph {
    height: 100%;
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

#search-clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1em;
    cursor: pointer;
    color: #ccc;
}

#search-clear:hover {
    color: #455a64;
}

#search-container {
    display: none;
    padding: 10px;
}

#submenu-container {
    padding: 10px;
    text-align: end;
}

.submenu-icon {
    color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.submenu-icon:hover {
    color: #455a64;
}

#mainNav {
    display: none !important;
}

.svg-text,
text,
textPath {
    pointer-events: none;
    fill: #455a64;
    font-size: 1.1em;
}

tspan {
    font-family: 'Nunito', sans-serif;
}

.drag-mode {
    cursor: grabbing;
}

textPath {
    font-family: 'Baloo 2', cursive;
}

#graphtags {
    padding-top: 20px;
    background-color: #fff;
    float: left;
    height: 600px;
    width: 20%;
    display: none;
}

#graphtags a {
    color: #333;
    text-decoration: none;
}

#sectionList a {
    color: red;
    text-decoration: none;
}

#search {
    float: right;
    margin-right: 100px;
}

#title {
    background-color: #eee;
    height: 80px;
    font-size: 2em;
    padding: 15px;
}